/* doctorin.css */

.container {
    text-align: center;
}

h2 {
    margin-bottom: 20px;
}

.patient-cards {
    display: flex;
    justify-content: space-between; /* Aligns cards with equal space between them */
    flex-wrap: wrap;
}

.patient-card {
    flex: 0 1 calc(33.33% - 20px); /* Sets width of each card to 33.33% with margin included */
    margin: 10px;
    padding: 10px;
    cursor: pointer;
    background-color: #f9f9f9;
    color: black;
    transition: background-color 0.3s ease;
    box-sizing: border-box; /* Includes padding and border in the width calculation */
}

.patient-card:hover {
    background-color: #007bff;
    color: #fff;
}

.patient-info {
    text-align: center;
}

.comment-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.comment-section textarea {
    height: 200px;
    width: 100%;
    max-width: 600px;
    margin-bottom: 0px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
    font-family: Arial;
    font-size: 16px;
}

.comment-section button {
    font-size: 16px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.comment-section button:hover {
    background-color: #0056b3;
}

button.close-btn:hover {
    background-color: rgb(253, 183, 183);
}